<div *ngFor="let ob of imageObject">
    <div class="row">
        <div class="col-md-8">
            <div style="width: 840px; height: 500px; text-align:center;padding-left: 3rem;">
                <ng-image-slider #nav [images]="ob.images" [infinite]="false" [autoSlide]="1"
                    [imageSize]="{width: '100%', height: 350}" slideImage="1"></ng-image-slider>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="align-content: center; padding-top: 4rem;">
                <span><b>House Type :</b> {{ob.title}}</span>
                <span><b>Location   : </b>{{ob.location}}</span>
                <span><b>Year Built :</b> {{ob.yearBuild}}</span>
                <span><b>Rate       :</b> {{ob.rate}}</span>
            </div>
        </div>
    </div>
</div>