<div class="perfect-centering">
    <form class="example-form">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>New Agent Details</mat-card-title>
            </mat-card-header>
        </mat-card>

        <br>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Agent Name</mat-label>
                        <input matInput [(ngModel)]="newAgent.agentName" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
            </tr>
            
            <tr>
                <td><mat-form-field class="example-full-width">
                    <mat-label>Agent Contact</mat-label>
                    <input matInput maxlength="14" placeholder="(000) 123 4567" [(ngModel)]="newAgent.agentContact" [ngModelOptions]="{standalone: true}">
                </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                    <mat-label>Agent Email</mat-label>
                    <input matInput placeholder="example@gmail.com" [(ngModel)]="newAgent.agentEmail" [ngModelOptions]="{standalone: true}">
                </mat-form-field></td>
            </tr>
        </table>

        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St"  [(ngModel)]="newAgent.agentAddress" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Ex. San Francisco" [(ngModel)]="newAgent.city" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="Ex. California" [(ngModel)]="newAgent.state" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Postal Code</mat-label>
                        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043" [(ngModel)]="newAgent.zipCode" [ngModelOptions]="{standalone: true}">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                    </mat-form-field></td>
            </tr>
            <tr>
                    <td style="padding-left: 5rem;">
                        <button  mat-button style="width: 120%; background-color: #3f51b5;" (click)="addNewAgent()">Add</button>
                    </td>
                    <td style="padding-left: 2rem; ">
                        <button mat-button style="width: 120%;" (click)="clearAgentDetails()">Clear</button>
                    </td>
            </tr>
        </table>


    </form>
</div>