<div class="bg-img">
<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" >
        <h1 style="color: darkblue;">Please login to continue</h1>
        <br/>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" formControlName="userName" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-error *ngIf="">
          Invalid login, please try again!
        </mat-error>
        <div class="form-group">
        <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
        <button mat-raised-button color="secondary" style="margin-left: 0.5rem;">Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>