.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .perfect-centering {
    position: absolute;
    top: 40%;
    left:40%;
    transform: translate(-40%,-35%);
  }

  mat-card-header{
    background: #3f51b5;
    padding: 5px;
    padding-bottom: 1rem;
    color:white;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
  }

  mat-card{
    padding:0;
    width: 130%;
  }