<div class="perfect-centering">
    <form class="example-form">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Advanced Search</mat-card-title>
            </mat-card-header>
        </mat-card>

        <br>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>House Owner</mat-label>
                        <input matInput [(ngModel)]="searchModel.houseOwner" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>House Type</mat-label>
                        <input matInput [(ngModel)]="searchModel.houseType" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>price range from</mat-label>
                        <input matInput [(ngModel)]="searchModel.priceScale" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                        <mat-label>No. of bedrooms</mat-label>
                        <input matInput [(ngModel)]="searchModel.bedRoomCount" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
            </tr>
            
            <tr>
               
                <td><mat-form-field class="example-full-width">
                        <mat-label>Total No. of baths</mat-label>
                        <input matInput [(ngModel)]="searchModel.totalbaths" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Total Area Covered in sqft</mat-label>
                        <input matInput [(ngModel)]="searchModel.areaCovered" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Built Year</mat-label>
                        <input matInput [(ngModel)]="searchModel.builtYear" [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                <mat-form-field appearance="fill">
                    <mat-label>Availability Status</mat-label>
                    <select matNativeControl required [(ngModel)]="searchModel.availabilityStatus"
                        [ngModelOptions]="{standalone: true}">
                        <option value="available">Available</option>
                        <option value="sold">Sold</option>
                    </select>
                </mat-form-field>
            </tr>
        </table>



        <table class="example-full-width" cellspacing="0">
            <tr>
                <mat-form-field appearance="fill">
                    <mat-label>Query Condition 1</mat-label>
                    <select matNativeControl required [(ngModel)]="searchModel.condition1"
                        [ngModelOptions]="{standalone: true}">
                        <option value="none">None</option>
                        <option value="condition1">most epensive house bought by an owner</option>
                        <option value="condition2">homes with all e-aplicances by same maker</option>
                        <option value="condition3">owners who do not own the homes they used to own</option>
                        <option value="condition4">total commissions earned by an agent</option>
                        <option value="condition5">people who own apartments as well as mansions</option>
                        <option value="condition6">owners who own all the most expensive homes in the given city</option>
                        <option value="condition7">homes that are available for sale</option>
                    </select>
                </mat-form-field>
                <td><mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Ex. Farmington Hills" [(ngModel)]="searchModel.city"
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="Ex. Michigan" [(ngModel)]="searchModel.state"
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field></td>
            
            </tr>
            
            <tr>
                <td>
                    <div style="padding-left: 10rem;">
                        <button mat-button style="width: 120%; background-color: #3f51b5;"
                        (click)="search()">Search</button>
                    </div>
                    
                </td>
                <td style="padding-left: 2rem; ">
                    <button mat-button style="width: 50%; background-color: gainsboro;" (click)="clearDetails()">Clear</button>
                </td>
            </tr>
        </table>


    </form>
</div>